
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

#container {
    background-color: rgb(174,162,139);
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: flex;
    background-image: url("piqsels.com-id-ffrlo.jpg");
    background-position: center;
    background-size: 250%;
}

#calcu {
    border-radius: 15px;
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1;
    grid-template-areas:
    "displayarea"
    "buttonsarea";
    margin: auto;
    padding: 10px;
}
#displaybase {
    background-color: rgb(35,42,50);
    border-radius: 15px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}
#display {
    display: grid;
    background-color: rgb(69,85,85);
    grid-area: displayarea;
    width: 80%;
    height: 90%;
    margin:     auto;
    border-radius: 9px;
    align-items: center;
    justify-content: right;
    font-family: monospace;
    font-size: 5vw;
}


#buttonsbase {
    background-color: rgb(199,199,199);
    grid-area: buttonsarea;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 5;
    grid-template-areas: 
    "seitse kaheksa yheksa null tsee"
    "neli viis kuus miinus korda"
    "yks kaks kolm pluss jaga"
    "vrdub vrdub vrdub vrdub vrdub"
    ;
    grid-gap: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* nupud */
.numbers {
    background-color: rgb(31,39,50);
    color: white;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: 100;
}
.action {
    background-color: rgb(104,115,109	);
    color: white;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: 100;
}

.numbers:hover, .action:hover{
    cursor: pointer;
    opacity: 50%;
}

#yks {
    grid-area: yks;
}
#kaks {
    grid-area: kaks;
}
#kolm {
    grid-area: kolm;
}
#neli {
    grid-area: neli;
}
#viis {
    grid-area: viis;
}
#kuus {
    grid-area: kuus;
}
#seitse {
    grid-area: seitse;
}
#kaheksa {
    grid-area: kaheksa;
}
#yheksa {
    grid-area: yheksa;
}
#null {
    grid-area: null;
}
#pluss {
    grid-area: pluss;
}
#miinus {
    grid-area: miinus;
}
#korda {
    grid-area: korda;
}
#jaga {
    grid-area: jaga;
}
#tsee {
    grid-area: tsee;
}
#vrdub {
    grid-area: vrdub;
}
